.outerContainer{
  background-image: url(servlet.png);
  background-repeat: no-repeat;
  background-size: 15pc;
  background-color: #ffffffa4;
}
.container {
  margin: 30px;
  display: flex;
  margin-bottom: 10pc;
  justify-content: center;
  align-items: center;
}

.box {
  padding: 20px;
  border-radius: 5px;
  background-color: #b1c2c1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input[type ='radio']{
  margin: 10px;
}

input[type='text'],
input[type='date'],
select {
  padding: 5px;
  margin-bottom: 10px;
}

.leave-type,
.team-names {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.leave-type label,
.team-names label {
  margin-bottom: 5px;
}

.file-upload {
  margin-top: 10px;
}

button[type='submit'] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #45a049;
}


.leave-table {
  width: 100%;
  border-collapse: collapse;
}

.leave-table th,
.leave-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.leave-table th {
  background-color: #f2f2f2;
}

.leave-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.leave-table p {
  color: rgb(55, 77, 201);
  ;
}

